<nav class="navbar">
  <ul>
    <li><a href="">home</a></li>
    <li><a href="#about">Sobre mí</a></li>
    <li><a href="#portafolio">Mis trabajos</a></li>
    <li><a href="">Contáctame</a></li>
  </ul>
</nav>