<nav class="navbar">
  <button id="toggle">
    <i class="fas fa-bars"></i>
  </button>
  <div class="menu" id="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/#about">Sobre mí</a></li>
      <li><a href="/#portafolio">Mis trabajos</a></li>
      <li><a href="/#footer">Contáctame</a></li>
    </ul>
  </div>
</nav>