<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{> header}}
    <section class="about animate__fadeIn d-md-flex  container justify-content-center align-items-center mx-auto my-3" id="about">
        <div class="about__info">
            <h3>Un poco de mí</h3>
            <div class="underAbout"></div>
            <p>Soy diseñador gráfico desde el 2014 donde me enfoque a ayudar a las pequeñas empresas a obtener una identidad visual en el mercado. Unos años después de trabajar así (Freelance), quise entrar al área del diseño web que era la primera idea
                que tenía al entrar a estudiar diseño gráfico profesional y para lograrlo, entre al programa “1000 programadores para Chile” en el año 2018 donde aprendo las bases de la programación. Al año siguiente, entre a estudiar Analista Programador
                y paralelamente comencé a trabajar con los chicos de Outalabs como diseñador y maquetador de sitios web. Actualmente ya titulado de analista programador he trabajado en varios sitios web y aplicaciones utilizando distintas tecnologías,
                tanto de diseño como de programación.</p>

            <p><b>Si quieres saber algo más de mi, puedes descarga mi <a class="cv" download href="/assets/CV-2021.pdf">Curriculum <i class="fas fa-download"></i></a></b></p>

        </div>
        <img src="/assets/dev.gif" alt="">
    </section>


    <section class="container mx-auto px-3 portafolio" id="portafolio">
        <h3>Portafolio</h3>
        <div class="row">
            <div class="col-md-4 my-3">
                <div class="card">
                    <img src="assets\proyects\zyrapp\m1.png " class="card-img-top " alt=" proyecto zyrapp ">
                    <div class="card-body ">
                        <h5 class="card-title ">Proyecto Zyrapp</h5>
                        <p class="card-text ">Zyrapp es una aplicación multiplataforma para que los centros de cultivos y empresas tengan un espacio dentro de la web para publicar sus productos ayudando con las ventas de estos. Adicional a ello, el usuario de la aplicación
                            móvil aprenderá tips de cultivos y nuevos tipos de plantas.</p>
                        <a href="/zyrapp " class="btn btn-primary ">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card">
                    <img src="assets\proyects\descubre\m1.jpg" class="card-img-top " alt=" proyecto zyrapp ">
                    <div class="card-body ">
                        <h5 class="card-title ">Descubre San Pedro de Atacama</h5>
                        <p class="card-text"></p>
                        <a href="/descubrespa " class="btn btn-primary ">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card">
                    <img src="assets\proyects\pucvDAD\m1.png " class="card-img-top " alt=" proyecto zyrapp ">
                    <div class="card-body ">
                        <h5 class="card-title ">PUCV - DAD</h5>
                        <p class="card-text "></p>
                        <a href="/pucvdad" class="btn btn-primary ">Ver más</a>
                    </div>
                </div>
            </div>
            <a href="/portafolio" class="text-end fw-bold masTrabajos">Ver todos los trabajos <i class="fas fa-arrow-right"></i></a>
        </div>

    </section>


    <section>
        <div class="tecnologias my-5 py-5">
            <ul class="d-flex container mx-auto justify-content-between px-4">
                <li><i class="fab fa-html5 "></i></li>
                <li><i class="fab fa-css3 "></i></li>
                <li><i class="fab fa-bootstrap "></i></li>
                <li><i class="fab fa-sass "></i></li>
                <li><i class="fab fa-js "></i></li>
                <li><i class="fab fa-node-js "></i></li>
                <li><i class="fab fa-angular "></i></li>
                <li><i class="fas fa-database "></i></li>
                <li><i class="fab fa-linux "></i></li>
                <li><i class="fab fa-git-alt "></i></li>
                <li><i class="fab fa-figma "></i></li>

            </ul>
        </div>
    </section>

    {{> footer}}
    <script>
        const toggle = document.getElementById('toggle')
        const menu = document.getElementById('menu')
        toggle.addEventListener("click ", () => {
            menu.classList.toggle('showMenu');
        })
    </script>
    <script src="js/bootstrap.bundle.min.js "></script>
</body>

</html>