<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Styles Css -->
    <link rel="stylesheet" href="css/styles.css">
    <title>Sebastian Infante</title>
</head>

<body>
    {{> header}}
    <section class="about" id="about">
        <div class="about__info">
            <h3>Un poco de mí</h3>
            <div class="underAbout"></div>
            <p>Soy diseñador gráfico desde el 2014 donde me enfoque a ayudar a las pequeñas empresas a obtener una identidad visual en el mercado. Unos años después de trabajar así (Freelance), quise entrar al área del diseño web que era la primera idea
                que tenía al entrar a estudiar diseño gráfico profesional y para lograrlo, entre al programa “1000 programadores para Chile” en el año 2018 donde aprendo las bases de la programación. Al año siguiente, entre a estudiar Analista Programador
                y paralelamente comencé a trabajar con los chicos de Outalabs como diseñador y maquetador de sitios web. Actualmente ya titulado de analista programador he trabajado en varios sitios web y aplicaciones utilizando distintas tecnologías,
                tanto de diseño como de programación.</p>
        </div>
        <img src="/assets/DevGif.gif" alt="">
    </section>
    <section class="portafolio" id="portafolio">
        <h3>Portafolio</h3>
        <div class="underPortfolio"></div>
        <div class="portafolio_gallery">
            <img src="/assets/DevPng.png" width="300px" height="300px" alt="">
            <img src="/assets/DevPng.png" width="300px" height="300px" alt="">
            <img src="/assets/DevPng.png" width="300px" height="300px" alt="">
            <img src="/assets/DevPng.png" width="300px" height="300px" alt="">


        </div>
    </section>
</body>

</html>