<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{> header}}
    <section class="about animate__fadeIn" id="about">
        <div class="about__info">
            <h3>Un poco de mí</h3>
            <div class="underAbout"></div>
            <p>Soy diseñador gráfico desde el 2014 donde me enfoque a ayudar a las pequeñas empresas a obtener una identidad visual en el mercado. Unos años después de trabajar así (Freelance), quise entrar al área del diseño web que era la primera idea
                que tenía al entrar a estudiar diseño gráfico profesional y para lograrlo, entre al programa “1000 programadores para Chile” en el año 2018 donde aprendo las bases de la programación. Al año siguiente, entre a estudiar Analista Programador
                y paralelamente comencé a trabajar con los chicos de Outalabs como diseñador y maquetador de sitios web. Actualmente ya titulado de analista programador he trabajado en varios sitios web y aplicaciones utilizando distintas tecnologías,
                tanto de diseño como de programación.</p>

            <p><b>Si quieres saber algo más de mi, puedes descarga mi <a class="cv" download href="/assets/CV-2021.pdf">Curriculum <i class="fas fa-download"></i></a></b></p>

        </div>
        <img src="/assets/DevGif.gif" alt="">
    </section>
    <section class="portafolio animate__fadeIn" id="portafolio">
        <h3>Portafolio</h3>
        <div class="underPortfolio"></div>
        <div class="portafolio__gallery">
            <div class="portafolio__item">
                <img src="/assets/DevPng.png" alt="">
                <h4>Titulo del trabajo</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, provident.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, provident.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, provident.</p>
                <button class="btn__primary">Ver más</button>
            </div>
            <div class="portafolio__item">
                <img src="/assets/DevPng.png" alt="">
                <h4>Titulo del trabajo</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, provident.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, provident.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, provident.</p>
                <button class="btn__primary">Ver más</button>
            </div>
            <div class="portafolio__item">
                <img src="/assets/DevPng.png" alt="">
                <h4>Titulo del trabajo</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, provident.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, provident.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, provident.</p>
                <button class="btn__primary">Ver más</button>
            </div>
        </div>
    </section>
    <section>
        <div class="tecnologias animate__fadeIn">
            <ul>
                <li><i class="fab fa-html5"></i></li>
                <li><i class="fab fa-css3"></i></li>
                <li><i class="fab fa-bootstrap"></i></li>
                <li><i class="fab fa-sass"></i></li>
                <li><i class="fab fa-js"></i></li>
                <li><i class="fab fa-node-js"></i></li>
                <li><i class="fab fa-angular"></i></li>
                <li><i class="fas fa-database"></i></li>
                <li><i class="fab fa-linux"></i></li>
                <li><i class="fab fa-git-alt"></i></li>
                <li><i class="fab fa-figma"></i></li>

            </ul>
        </div>
    </section>
    {{> footer}}
    <script>
        const toggle = document.getElementById('toggle')
        const menu = document.getElementById('menu')
        toggle.addEventListener("click", () => {
            menu.classList.toggle('showMenu');
        })
    </script>
</body>

</html>