<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    <header>
    {{> navbar}}
<div class="error404">
    <h2>Próximamente</h2>
    <h3>Sitio aun en construcción</h3>
</div>
    </header>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>