:root {
    --primary-color: #002232;
    --seconday-color: #1ECF8B;
    --light-color: #F2F2F2;
    /* --primary-color: #1ECF8B;
    --seconday-color: #002232;
    --light-color: #F2F2F2; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color)
}

body {
    overflow-x: hidden;
    background-color: var(--light-color);
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}


/* *Dark*/

.mode-dark .navbar-nav a {
    color: var(--primary-color);
}

.mode-dark {
    background-color: var(--seconday-color) !important;
}


/* *Navbar*/

.navbar {
    background-color: var(--light-color);
}

.navbar .container-fluid {
    padding: 0 10%;
}

.navbar-nav a {
    color: var(--primary-color);
    font-size: 20px;
}

.navbar-nav a:hover {
    color: var(--seconday-color);
}

.navbar-toggler {
    border: var(--primary-color) 0px solid;
}

.navbar-toggler:focus {
    border: var(--seconday-color) 0px solid;
    box-shadow: none;
}

.navbar-toggler i {
    color: var(--primary-color);
    font-size: 25px;
}


/* *Header  */

.header__hero {
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: space-evenly;
    border-bottom: 10px var(--seconday-color) solid;
    align-items: flex-end;
}

.header__hero img {
    object-fit: contain;
    width: 40vw;
    height: auto;
    max-height: 40vh;
}

.header__titulos {
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header__titulos h1 {
    color: var(--primary-color);
}

.header__titulos h3 {
    color: var(--seconday-color);
}

@media (min-width:768px) {
    .header__hero img {
        max-height: 60vh;
    }
}

@media (max-width:767px) {
    .header__hero {
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    .header__hero img,
    .header__titulos {
        margin: 0 auto;
        width: 70%;
    }
    .header__titulos h1,
    .header__titulos h3 {
        width: 100%;
        text-align: center;
    }
}


/* *About */

.about .about__info,
.about img {
    object-fit: contain;
    max-width: 40vw;
}

@media (max-width:767px) {
    .about .about__info,
    .about img {
        object-fit: contain;
        max-width: 100%;
        padding: 20px;
    }
}


/* *Portafolio*/

.portafolio .card img {
    object-fit: cover;
    height: 300px;
}

.masTrabajos,
.cv {
    color: var(--primary-color);
    text-decoration: none;
    transition: .2s;
}

.masTrabajos:hover,
.cv:hover {
    color: var(--seconday-color);
    transition: .2s;
}


/* *Tecnologías */

.tecnologias {
    font-size: 2em;
}

.tecnologias li {
    list-style: none;
    color: var(--seconday-color);
}

.tecnologias li i {
    list-style: none;
    color: var(--primary-color);
    cursor: none;
}

.tecnologias li i:hover {
    list-style: none;
    color: var(--seconday-color);
}

@media (max-width:767px) {
    .tecnologias {
        font-size: larger;
    }
}


/* *Footer*/

footer {
    padding-top: 2em;
    height: 20vh;
    background-color: var(--primary-color);
    color: var(--seconday-color);
}

footer .redes_sociales a {
    padding: 1em;
    color: var(--seconday-color)
}

footer .redes_sociales a i {
    font-size: 1.5em;
    color: var(--seconday-color)
}

footer p {
    color: var(--seconday-color)
}


/* *Buttons*/

.btn-primary {
    background-color: var(--seconday-color);
    border: var(--primary-color);
    width: 100%;
    color: var(--primary-color);
    font-weight: 700;
}

.btn-primary:hover {
    background-color: var(--primary-color);
}


/* *Page Portafolio*/

.main-portafolio img {
    margin: 2em;
    border-radius: 10px;
}

.main-portafolio .img__m {
    /* width: 65vw; */
    max-width: 65vw;
}

.main-portafolio .card {
    background-color: transparent;
    outline: none;
    border: none;
}